<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div id="app">
    <h1 v-if="IsNight">Bom dia</h1>
    <h1 v-else>Boa noite</h1>

    <ul>
        <li :style="{color: aluno.cor}" v-for="aluno in alunos">
            {{ aluno.nome }}
        </li>
    </ul>

</div>

<script type="module">
    const {createApp} = Vue

    const now = new Date()
    const IsNight = now.getHours() >= 18

    const students = [
        {nome: 'Alan', cor:'purple'},
        {nome: 'Anderson', cor:'blue'},
        {nome:'Bruno', cor:'black'},
        {nome: 'Guilherme', cor: 'dark blue'},
        {nome: 'Gustavo', cor:'pink'},
        {nome:'Matheus', cor:'green'},
        {nome: 'Victor', cor:'red'},
        {nome: 'Ysaac', cor:'yellow'}
    ]

   
    createApp({
        data: () => ({
            IsNight,
            alunos: students
        })
    }).mount('#app')

</script>